* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: white;
}

.navbarFont{
  font-size: 15px;
}


.logo{
  border-radius: 100px;
  max-height: 45px;
  max-width: 45px;
}

.profile{
  border-radius: 100px;
  max-height: 345px;
  max-width: 345px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title{
  font-weight: 100;
  font-size: 60px;
}

.miniTitle{
  font-weight: 100;
  font-size: 40px;
}

.grayed{
  color: #7d97ad;
}

.main-content{
  margin-bottom: 10px;
}

.button--white {
    color: #A9A9A9;
    border: 2px solid #A9A9A9;
    background-color: none;
}

.button--size-m {
    font-size: 28px;
    height: 80px;
    line-height: 79px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.button {
    display: inline-block;
    margin: 0 auto;
    color: #A9A9A9;
    border: 2px solid #A9A9A9;
    background-color: transparent;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    text-decoration: none !important;
    box-sizing: border-box;
}

.button:hover{
  background-color: #A9A9A9;
}

.button:hover .button--white{
  color: black;
}

.link {
    text-decoration: none !important;
    display: block;
    color: #A9A9A9;
    background-color: transparent;
}

*, *:after, *::before {
    box-sizing: border-box;
    outline: none;
}

.bottom-text{
  font-size: 42px;
}

.main-cta {

    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    cursor: default;
    color: #A9A9A9;
}

.bottom-cta {

    text-align: left;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
    color: #A9A9A9;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 50%;
}


.portfolio{
  border-radius: 15px;
  background-color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.portfolio:hover{
  color: black;
  opacity: 0.5;
  display:  block;
}

.portfolio:hover .over-text{
  visibility: visible;
}

.portfolio:after {
  content: "";
  display: block;
}

.over-text{
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  width: 100%;
  border-radius: 15px;
  visibility: hidden;
}

.rounded{
  border-radius: 15px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 70%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-height: calc(100% - 80px);
    max-width: calc(80% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.form{
  display: block;
  font-size: 30px;
  text-align: center;
}

.imgModal{
  height: auto;
  max-width: 100%;
  margin: auto;
}

.icon{
  width : 64px;
  height: 64px;
}

.smallIcon{
  width: 45px;
  height: 45px;
}

.main-text{
  font-size: 20px;
  font-weight: bold;
}

.progress {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 4px;
    height: auto;
    background: #e0e0e0;
    margin-bottom: 24px;
}

.progress .bar {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #dd6e46;
    height: 28px;
}

.progress-info .bar, .progress .bar-info {
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
    background-repeat: repeat-x;
}

.social{
      list-style: none;
      margin-left: -8px !important;
      margin: 0;
}

.social_li{
      list-style: none;
      margin: 0 8px 8px !important;
      float: left;
      line-height: 20px;
      display: list-item;
      text-align: -webkit-match-parent;
}

.row {
    position: relative;
}

.bottom-align-text {
  position: absolute;
  bottom: 2;
  right: 0;
}

.bottomColor{
  background-color: #464646;
}

.backBox{
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.buttonFloat{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-right: -50%;
}

.floatImg{
  display: block;
   position: relative;
   width: 100%;
}

.floatImgOver{
  position: relative;
    margin: 20px;
    width: 100%;
}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(155,155,155,0.9);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2) ;
  text-shadow: 1px 2px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  position:relative;
  width: 50%;
  left: 20%;
  top: 20%;
}

.enjoy-css:hover {
  color: rgba(183,183,183,0.9);
  background: rgba(104,104,104,0.9);
}


@media screen and (max-width: 450px) {
    .button--size-m {
      font-size: 15px;
    }

    .over-text{
      font-size: 20px;
    }

    .main-text{
      font-size: 15px;
    }

    .bottomText{
      font-size: 15px;
    }
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: 15px;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
   float: right;
}

@media screen and (max-width: 800px) {
  .over-text {
    font-size: 17px;
  }
}

@media screen and (max-width: 575px) {
  #soflow {
    float: inherit;

  }
}
